<div class="page-header">
  <h1><%= @team.name %></h1>
</div>
<% if current_user.membership_in(@team) %>
  <%= form_tag team_member_path(team_id: @team.id, id: current_user.membership_id(@team)), method: :delete do %>
    <button type="submit" class="btn btn-danger">Leave Team</button>
  <% end %>
<% end %>
