<% if @tasks.any? %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.name %>
        <%= form_tag task_path(id: task.id, task: { last_completed_at: DateTime.now } ), method: :put do %>
          <% if task.task_icon %>
            <button type="submit"><%= image_tag("task_icons/#{task.task_icon.file_name}") %></button>
          <% else %>
            <button type="submit"><%= image_tag("task_icons/default_icon.png") %></button>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any tasks!</p>
<% end %>
