<ul>
  <li><%= link_to("Dashboard", root_path, method: :get) %></li>
  <li><%= link_to("Manage Tasks", tasks_path, method: :get) %></li>
  <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
</ul>
